snowflake-connector-python
xgboost
Pillow
streamlit


git+https://github.com/maks-sh/scikit-uplift
#git+https://github.com/microsoft/LightGBM/tree/master/python-package
lightgbm
shap

scikit-learn>=1.2.2
numpy>=1.16
pandas
matplotlib
requests
tqdm
altair
streamlit-option-menu == 0.3.2

dice-ml==0.10
IPython
