snowflake-connector-python
pip>=23.2.1
xgboost
Pillow
streamlit


git+https://github.com/maks-sh/scikit-uplift
#git+https://github.com/microsoft/LightGBM/tree/master/python-package
#lightgbm
#git+https://github.com/shap/shap
git+https://github.com/snehankekre/streamlit-shap
shap>=0.42.1

scikit-learn>=1.2.2
numpy>=1.16
pandas
matplotlib
requests
tqdm
altair
streamlit-option-menu == 0.3.2

dice-ml==0.10
IPython
